<header class="p-3 text-bg-dark">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <img src="/static/img.png" alt="로고" style="width: 50px">
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/post_list" class="nav-link px-2 text-white">점메추</a></li>
            </ul>

            <div class="text-end">
                {% if member %}
                <img src="/static/img.png" alt="로고" style="width: 30px">
                {{ member.member_name }}님
                <button type="button" class="btn btn-secondary btn-sm" onclick="fn_logout()">로그아웃</button>
                {% else %}
                <button type="button" class="btn btn-outline-light me-2" data-bs-toggle="modal"
                    data-bs-target="#modalLogin">로그인</button>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                    data-bs-target="#modalJoin">회원가입</button>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- 로그인 modal -->
    <form id="frm_login" action="{{ url_for('member_login') }}" method="post">
        <input type="hidden" value="{{ request.path }}" name="prev_url">
        <div class="modal fade" tabindex="-1" role="dialog" id="modalLogin">
            <div class="modal-dialog" role="document">
                <div class="modal-content rounded-4 shadow" style="color:black">
                    <div class="modal-header p-5 pb-4 border-bottom-0">
                        <h1 class="fw-bold mb-0 fs-2">로그인</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body p-5 pt-0">
                        <form class="">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control rounded-3" id="login_id" name="member_login_id"
                                    placeholder="ID">
                                <label for="login_id">ID</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control rounded-3" id="passwd" name="password"
                                    placeholder="Password">
                                <label for="passwd">Password</label>
                            </div>
                            <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="button"
                                onclick="fn_login()">로그인</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <form id="frm_join" action="{{ url_for('member_add') }}" method="post">
        <!-- 회원가입 modal -->
        <div class="modal fade" tabindex="-1" role="dialog" id="modalJoin">
            <div class="modal-dialog" role="document">
                <div class="modal-content rounded-4 shadow" style="color:black">
                    <div class="modal-header p-5 pb-4 border-bottom-0">
                        <h1 class="fw-bold mb-0 fs-2">회원가입</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body p-5 pt-0">
                        <form class="">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control rounded-3 required" id="member_login_id"
                                    name="member_login_id" placeholder="ID">
                                <label for="member_login_id">ID</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control rounded-3 required" id="password"
                                    name="password" placeholder="Password">
                                <label for="password">Password</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control rounded-3 required" id="member_name"
                                    name="member_name" placeholder="Name">
                                <label for="member_name">Name</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control rounded-3 required" id="member_nickname"
                                    name="member_nickname" placeholder="member_nickname">
                                <label for="member_nickname">NickName</label>
                            </div>
                            <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="button"
                                onclick="fn_join()">회원가입</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </form>
</header>

<script>
    // 회원가입 함수
    function fn_join() {
        // 필수 값 valdation
        let message = "";
        $("#frm_join .required").each(function () {
            if (!$(this).val()) {
                message += $(this).attr("placeholder") + "은 필수 입력값입니다.\n";
            }
        })
        if (message) {
            alert(message);
        } else {
            // 중복 체크 후 회원가입
            $.ajax({
                type: "POST",
                url: "/member_id_check",
                data: $("#frm_join").serialize(),
                dataType: "JSON",
                success: function (result) {
                    if (result) {
                        alert("중복된 아이디가 존재합니다!");
                    } else {
                        document.getElementById("frm_join").submit();
                    }
                }
            })
        }
    }

    // 로그인 함수
    function fn_login() {
        // 필수 값 valdation
        let message = "";
        $("#frm_login .required").each(function () {
            if (!$(this).val()) {
                message += $(this).attr("placeholder") + "은 필수 입력값입니다.\n";
            }
        })
        if (message) {
            alert(message);
        } else {
            document.getElementById("frm_login").submit();
        }
    }

    // 로그아웃 함수
    function fn_logout() {
        location.href = "/member_logout";
    }
</script>